*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1d1d1d;
}
/* Navigation bar + image */
.navbar{
    height: 100px;
    width: auto;
    background-color: #3d3d3d;
    display: flex;
}
.nav-items{
   margin-left: 65%;
   margin-top: 39px;
}
.nav-items a{
    text-decoration: none;
    padding: 25px;
    color: #ffc900;
}
.nav-items a:hover{
    color: white;
    background-color: #ffc900;
    border-radius: 10px;
}
.logo img{
    margin-left: 30px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

/* Main Content Logos */


/* Footer section */
.footer{
    height: 50px;
    width: auto;
    background-color: #3d3d3d;
    margin-top: 50%;
}
.footer p{
    color: #ffc900;
    justify-self: center;
    padding-top: 20px;
}